/* ==========================================================================
   #TIMINGS
========================================================================== */
/* ==========================================================================
   #BREAKPOINTS
========================================================================== */
/* ==========================================================================
   #KEYFRAMES
========================================================================== */
@keyframes icon-pulse {
  50% {
    height: 30px;
  }
}

/* ==========================================================================
   #BOX MODEL
========================================================================== */
.WavyHero {
  height: 540px;
  position: relative;
  background-position: center center;
  background-size: cover;
}

@media (max-width: 767px) {
  .WavyHero {
    height: 319px;
  }
}

.WavyHero .AnimatedWave {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.block-invalid-fields {
  font-style: italic;
  color: grey;
}
